In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from pandas_profiling import ProfileReport
import pandas_profiling as pp


from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score

from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier

from sklearn.metrics import accuracy_score
from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import precision_score

import warnings
warnings.filterwarnings('ignore')

c:\Users\Professor Liu\AppData\Local\Programs\Python\Python310\lib\site-packages\tqdm\auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
data = pd.read_csv('diabetes_survey.csv')

In [3]:
data

,Diabetes_binary,AnyHealthcare,NoDocbcCost,Sex,Age,Education,Income
0,0,1,0,0,9,4,3
1,0,0,1,0,7,6,1
2,0,1,1,0,9,4,8
3,0,1,0,0,11,3,6
4,0,1,0,0,11,5,4
...,...,...,...,...,...,...,...
253675,0,1,0,1,5,6,7
253676,1,1,0,0,11,2,4
253677,0,1,0,0,2,5,2
253678,0,1,0,1,7,5,1
253679,1,1,0,0,9,6,2

In [4]:
data.isna().sum()

Diabetes_binary    0
AnyHealthcare      0
NoDocbcCost        0
Sex                0
Age                0
Education          0
Income             0
dtype: int64

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253680 entries, 0 to 253679
Data columns (total 7 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Diabetes_binary  253680 non-null  int64
 1   AnyHealthcare    253680 non-null  int64
 2   NoDocbcCost      253680 non-null  int64
 3   Sex              253680 non-null  int64
 4   Age              253680 non-null  int64
 5   Education        253680 non-null  int64
 6   Income           253680 non-null  int64
dtypes: int64(7)
memory usage: 13.5 MB

In [6]:
for column in data.columns:
    print(f"{column}: Number of unique values {data[column].nunique()}")

Diabetes_binary: Number of unique values 2
AnyHealthcare: Number of unique values 2
NoDocbcCost: Number of unique values 2
Sex: Number of unique values 2
Age: Number of unique values 13
Education: Number of unique values 6
Income: Number of unique values 8

In [7]:
data.describe()

,Diabetes_binary,AnyHealthcare,NoDocbcCost,Sex,Age,Education,Income
count,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000
mean,0.139333,0.951053,0.084177,0.440342,8.032119,5.050434,6.053875
std,0.346294,0.215759,0.277654,0.496429,3.054220,0.985774,2.071148
min,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
25%,0.000000,1.000000,0.000000,0.000000,6.000000,4.000000,5.000000
50%,0.000000,1.000000,0.000000,0.000000,8.000000,5.000000,7.000000
75%,0.000000,1.000000,0.000000,1.000000,10.000000,6.000000,8.000000
max,1.000000,1.000000,1.000000,1.000000,13.000000,6.000000,8.000000

In [8]:
# forming dataframe and printing
data = pd.DataFrame(data)
print(data)

        Diabetes_binary  AnyHealthcare  NoDocbcCost  Sex  Age  Education  \
0                     0              1            0    0    9          4
1                     0              0            1    0    7          6
2                     0              1            1    0    9          4
3                     0              1            0    0   11          3
4                     0              1            0    0   11          5
...                 ...            ...          ...  ...  ...        ...
253675                0              1            0    1    5          6
253676                1              1            0    0   11          2
253677                0              1            0    0    2          5
253678                0              1            0    1    7          5
253679                1              1            0    0    9          6

        Income
0            3
1            1
2            8
3            6
4            4
...        ...
253675       7
253676       4
253677       2
253678       1
253679       2

[253680 rows x 7 columns]

In [9]:
# forming ProfileReport and save
# as output.html file
profile = pp.ProfileReport(data)
profile.to_file("output.html")

Summarize dataset: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 30/30 [00:14<00:00,  2.11it/s, Completed]
Generate report structure: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:02<00:00,  2.66s/it]
Render HTML: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:01<00:00,  1.19s/it]
Export report to file: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:00<00:00, 154.20it/s]

In [10]:
y = data ['Diabetes_binary']
x = data.drop('Diabetes_binary', axis = 1)

In [11]:
y

0         0
1         0
2         0
3         0
4         0
         ..
253675    0
253676    1
253677    0
253678    0
253679    1
Name: Diabetes_binary, Length: 253680, dtype: int64

In [12]:
x

        AnyHealthcare  NoDocbcCost  Sex  Age  Education  Income
0                   1            0    0    9          4       3
1                   0            1    0    7          6       1
2                   1            1    0    9          4       8
3                   1            0    0   11          3       6
4                   1            0    0   11          5       4
...               ...          ...  ...  ...        ...     ...
253675              1            0    1    5          6       7
253676              1            0    0   11          2       4
253677              1            0    0    2          5       2
253678              1            0    1    7          5       1
253679              1            0    0    9          6       2

[253680 rows x 6 columns]

In [13]:
scaler = MinMaxScaler()
x = scaler.fit_transform(x)

In [14]:
pd.DataFrame(x)

          0    1    2         3    4         5
0       1.0  0.0  0.0  0.666667  0.6  0.285714
1       0.0  1.0  0.0  0.500000  1.0  0.000000
2       1.0  1.0  0.0  0.666667  0.6  1.000000
3       1.0  0.0  0.0  0.833333  0.4  0.714286
4       1.0  0.0  0.0  0.833333  0.8  0.428571
...     ...  ...  ...       ...  ...       ...
253675  1.0  0.0  1.0  0.333333  1.0  0.857143
253676  1.0  0.0  0.0  0.833333  0.2  0.428571
253677  1.0  0.0  0.0  0.083333  0.8  0.142857
253678  1.0  0.0  1.0  0.500000  0.8  0.000000
253679  1.0  0.0  0.0  0.666667  1.0  0.142857

[253680 rows x 6 columns]

In [15]:
x_train, x_test, y_train, y_test = train_test_split(x, y, train_size= 0.70)

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier

from sklearn.metrics import accuracy_score
from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import precision_score
from sklearn.metrics import f1_score
import matplotlib.pyplot as plt
from sklearn import metrics

In [17]:
# from sklearn.linear_model import LogisticRegression
log_model = LogisticRegression()
log_model.fit(x_train, y_train)

log_reg_ypred = log_model.predict(x_test)
logf1 = f1_score(y_test, log_reg_ypred)

In [18]:
print(classification_report(y_test, log_reg_ypred))

              precision    recall  f1-score   support

           0       0.86      1.00      0.92     65480
           1       0.31      0.00      0.01     10624

    accuracy                           0.86     76104
   macro avg       0.59      0.50      0.47     76104
weighted avg       0.78      0.86      0.80     76104

In [19]:
plot_confusion_matrix(log_model, x_test, y_test)
plt.show
plt.title('Logistical_Regression')
plt.savefig("Logistical_Regression.png")

In [20]:
# from sklearn.neural_network import MLPClassifier
MLP_model = MLPClassifier()
MLP_model.fit(x_train, y_train)

MLP_ypred = MLP_model.predict(x_test)
MLPf1 = f1_score(y_test, MLP_ypred)

In [21]:
print(classification_report(y_test, MLP_ypred))

              precision    recall  f1-score   support

           0       0.86      1.00      0.92     65480
           1       0.00      0.00      0.00     10624

    accuracy                           0.86     76104
   macro avg       0.43      0.50      0.46     76104
weighted avg       0.74      0.86      0.80     76104

In [22]:
plot_confusion_matrix(MLP_model, x_test, y_test)
plt.show
plt.title('MLPClassifier')
plt.savefig("MLPClassifier.png")

In [23]:
# from sklearn.ensemble import RandomForestClassifier
RFC_model = RandomForestClassifier()
RFC_model.fit(x_train, y_train)

RFC_ypred = MLP_model.predict(x_test)
RFCf1 = f1_score(y_test, RFC_ypred)

In [24]:
print(classification_report(y_test, RFC_ypred))

              precision    recall  f1-score   support

           0       0.86      1.00      0.92     65480
           1       0.00      0.00      0.00     10624

    accuracy                           0.86     76104
   macro avg       0.43      0.50      0.46     76104
weighted avg       0.74      0.86      0.80     76104

In [25]:
plot_confusion_matrix(RFC_model, x_test, y_test)
plt.show
plt.title('RandomForestClassifier')
plt.savefig("RandomForestClassifier.png")

In [26]:
# from sklearn.naive_bayes import GaussianNB
GNB_model = GaussianNB()
GNB_model.fit(x_train, y_train)

GNB_ypred = GNB_model.predict(x_test)
GNBf1 = f1_score(y_test, GNB_ypred)

In [27]:
print(classification_report(y_test, GNB_ypred))

              precision    recall  f1-score   support

           0       0.87      0.96      0.91     65480
           1       0.31      0.12      0.17     10624

    accuracy                           0.84     76104
   macro avg       0.59      0.54      0.54     76104
weighted avg       0.79      0.84      0.81     76104

In [28]:
plot_confusion_matrix(GNB_model, x_test, y_test)
plt.show
plt.title('GaussianNB')
plt.savefig("GaussianNB.png")

In [29]:
# from sklearn.neighbors import KNeighborsClassifier
KNN_model = KNeighborsClassifier()
KNN_model.fit(x_train, y_train)

KNN_ypred = KNN_model.predict(x_test)
KNNf1 = f1_score(y_test, KNN_ypred)

In [30]:
print(classification_report(y_test, KNN_ypred))

              precision    recall  f1-score   support

           0       0.87      0.96      0.91     65480
           1       0.25      0.09      0.13     10624

    accuracy                           0.84     76104
   macro avg       0.56      0.52      0.52     76104
weighted avg       0.78      0.84      0.80     76104

In [31]:
plot_confusion_matrix(KNN_model, x_test, y_test)
plt.show
plt.title('KNeighborsClassifier')
plt.savefig("KNeighborsClassifier.png")

In [32]:
# from sklearn.tree import DecisionTreeClassifier
DTC_model = DecisionTreeClassifier()
DTC_model.fit(x_train, y_train)

DTC_ypred = DTC_model.predict(x_test)
DTCf1 = f1_score(y_test, DTC_ypred)

In [33]:
print(classification_report(y_test, DTC_ypred))

              precision    recall  f1-score   support

           0       0.86      1.00      0.92     65480
           1       0.33      0.01      0.02     10624

    accuracy                           0.86     76104
   macro avg       0.59      0.50      0.47     76104
weighted avg       0.79      0.86      0.80     76104

In [34]:
plot_confusion_matrix(DTC_model, x_test, y_test)
plt.show
plt.title('DecisionTreeClassifier')
plt.savefig("DecisionTreeClassifier.png")

In [35]:
all_models= {
    'LogisticRegrsssion': LogisticRegression(),
    'MLP Classifier' : MLPClassifier(),
    'RandomForestClassifier': RandomForestClassifier(),
    'GaussianNB': GaussianNB(),
    'KNeighborsClassifier': KNeighborsClassifier(),
    'Decision Tree Classifier' : DecisionTreeClassifier()
    
        
   
}
for name,model in all_models.items():
    model.fit(x_train,y_train)
    print(name+ ': trained')

LogisticRegrsssion: trained
MLP Classifier: trained
RandomForestClassifier: trained
GaussianNB: trained
KNeighborsClassifier: trained
Decision Tree Classifier: trained

Accuracy Scores

In [36]:
for name,model in all_models.items():
    print('Accuracy of ' +name+ ": {:.2f}%".format(model.score(x_test,y_test) * 100))

Accuracy of LogisticRegrsssion: 85.99%
Accuracy of MLP Classifier: 86.04%
Accuracy of RandomForestClassifier: 85.83%
Accuracy of GaussianNB: 83.97%
Accuracy of KNeighborsClassifier: 83.60%
Accuracy of Decision Tree Classifier: 85.88%

F1 Scores

In [37]:
print(f"Logistic Regression:\nF1 Score: {logf1*100:.2f}%\n")
print(f"MLP Classifier:\nF1 Score: {MLPf1*100:.2f}%\n")
print(f"RandomForestClassifier:\nF1 Score: {RFCf1*100:.2f}%\n")
print(f"GaussianNB:\nF1 Score: {GNBf1*100 :.2f}%\n")
print(f"KNeighborsClassifier:\nF1 Score: {KNNf1*100 :.2f}%\n")
print(f"Decision Tree Classifier:\nF1 Score: {DTCf1*100:.2f}%\n")

Logistic Regression:
F1 Score: 0.54%

MLP Classifier:
F1 Score: 0.00%

RandomForestClassifier:
F1 Score: 0.00%

GaussianNB:
F1 Score: 17.16%

KNeighborsClassifier:
F1 Score: 13.10%

Decision Tree Classifier:
F1 Score: 2.18%

In [38]:
#set up plotting area
plt.figure(0).clf()

#fit logistic regression model and plot ROC curve
model = LogisticRegression()
model.fit(x_train, y_train)
y_pred = model.predict_proba(x_test)[:, 1]
fpr, tpr, _ = metrics.roc_curve(y_test, y_pred)
auc = round(metrics.roc_auc_score(y_test, y_pred), 4)
plt.plot(fpr,tpr,label="Logistic Regression, AUC="+str(auc))

#fit MLPClassifier and plot ROC curve
model2 = MLPClassifier()
model2.fit(x_train, y_train)
y_pred = model2.predict_proba(x_test)[:, 1]
fpr, tpr, _ = metrics.roc_curve(y_test, y_pred)
auc = round(metrics.roc_auc_score(y_test, y_pred), 4)
plt.plot(fpr,tpr,label="MLP Classifier , AUC="+str(auc))

#fit RandomForestClassifier and plot ROC curve
model3 = RandomForestClassifier()
model3.fit(x_train, y_train)
y_pred = model3.predict_proba(x_test)[:, 1]
fpr, tpr, _ = metrics.roc_curve(y_test, y_pred)
auc = round(metrics.roc_auc_score(y_test, y_pred), 4)
plt.plot(fpr,tpr,label="Random Forrest Classifier, AUC="+str(auc))

#fit GaussianNB and plot ROC curve
model4 = GaussianNB()
model4.fit(x_train, y_train)
y_pred = model4.predict_proba(x_test)[:, 1]
fpr, tpr, _ = metrics.roc_curve(y_test, y_pred)
auc = round(metrics.roc_auc_score(y_test, y_pred), 4)
plt.plot(fpr,tpr,label="GaussianNB, AUC="+str(auc))

#fit KNeighborsClassifier and plot ROC curve
model5 = KNeighborsClassifier()
model5.fit(x_train, y_train)
y_pred = model5.predict_proba(x_test)[:, 1]
fpr, tpr, _ = metrics.roc_curve(y_test, y_pred)
auc = round(metrics.roc_auc_score(y_test, y_pred), 4)
plt.plot(fpr,tpr,label="KNeighbors Classifier, AUC="+str(auc))

#fit DecisionTreeClassifier and plot ROC curve
model5 = DecisionTreeClassifier()
model5.fit(x_train, y_train)
y_pred = model5.predict_proba(x_test)[:, 1]
fpr, tpr, _ = metrics.roc_curve(y_test, y_pred)
auc = round(metrics.roc_auc_score(y_test, y_pred), 4)
plt.plot(fpr,tpr,label="Decision Tree Classifier, AUC="+str(auc))


#add legend
plt.legend()

plt.show()
plt.title('ROC Curve for All Classification Models')
plt.savefig("ROC Curve.png")

Deploying MLP Classifier Model using Streamlit

In [40]:
x_train, x_test, y_train, y_test = train_test_split(x, y, train_size= 0.70, stratify = y, random_state=2)

In [41]:
print(x.shape, x_train.shape, x_test.shape)

(253680, 6) (177576, 6) (76104, 6)

# MLPClassifier has two hidden layers with 100 neurons each, and it uses the Adam optimization algorithm with a learning rate of 0.001 and L2 regularization with a strength of 0.01. The batch size is 128, and the model is trained for a maximum of 200 epochs

In [42]:
classifier = MLPClassifier(hidden_layer_sizes=(100,100), activation='relu', solver='adam', learning_rate_init=0.001, alpha=0.01, batch_size=128, max_iter=200)

In [46]:
model2.fit(x_train, y_train)

MLPClassifier()

In [48]:
y_pred = model2.predict(x_test)

In [50]:
# accuracy score on the training data
y_pred = model2.predict(x_test)
model2.fit(x_train, y_train)
x_train_prediction = classifier.predict(x_train)
training_data_accuracy = accuracy_score(x_train_prediction, y_train)

NotFittedError: This MLPClassifier instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.